.carousel-image {
    display: block; 
    width: 80%; 
    height:300px; 
    margin: auto;
}

.carousel-caption {
    padding-bottom: 0;
    font-family: 'Tajawal', sans-serif;
    font-size: 16x;
    font-style: bold;
    background: rgba(0,0,0,0.5);
}