.carousel-image {
    display: block; 
    width: 100%; 
    max-height:300px; 
    object-fit: cover;
    margin: auto;
}

.carousel-caption {
    padding-bottom: 0;
    font-family: 'Tajawal', sans-serif;
    font-size: 16x;
    font-style: bold;
    background: rgba(0,0,0,0.5);
}